<app-single-header></app-single-header>
<div class="welcome-screen">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="box">
                    <h2 class="title">Create a project</h2>
                    <div class="box-thumbnail">
                        <img src=".../../assets/img/create-project.png" alt="">
                    </div>
                    <div class="info">
                        Build a quotation find suitable resource and talent
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <h2 class="title">{{'Schedule' | translate}} {{'resources' | translate}}</h2>
                    <div class="box-thumbnail">
                        <img src="../../assets/img/schedule.png" alt="">
                    </div>
                    <div class="info">
                        Manage Staff and Resources with ad-hoc administartion contact form
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <h2 class="title">Collaborate and deliver</h2>
                    <div class="box-thumbnail">
                        <img src="../../assets/img/collabrate.png" alt="">
                    </div>
                    <div class="info">
                        Create invoice and get financial report to drive your business
                    </div>
                </div>
            </div>
        </div>

        <div class="basic-form-footer">
            <button class="btn btn-first btn-lg mb-15" type="button" (click)="goSignin()">{{'Continue' | translate}}</button>
        </div>
    </div>
</div>