@import '../create-client/create-client.component';
@import '../../variables';

.create-role {
    .roleListTable {
        thead {
            tr {
                th {
                    background-color: #d7d7d7;
                }
            }
        }
        .checkbox {
            margin: 4px auto;
            width: 16px;
            height: 16px;
            input {
                margin-left: 0px;
            }
        }
    }
    .width-40 {
        width:40px;
    }
}