@import '../equipment-list/equipment-list.component';
@import '../edit-equipment/edit-equipment.component';
@import '../personnel-edit/personnel-edit.component';
@import '../personal-list/personal-list.component';
@import '../project-budgeting/project-budgeting.component';
@import '../scheduler/schedule/scheduler.component';
@import '../../variables';

.m-auto {
    margin: 0 auto;
}
.ml-20 {
    margin-left: 20px !important;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.inline-block {
    display:inline-block;
}

.contactSelect {
    width: 200px;
    display: inline-block;
    height: 30px;
}
.callSheet-Sec {
    max-width: 600px;
    min-height: 600px;
    margin: 0 auto;
    background: #fff;
    border:2px solid #ddd;
    box-shadow: 0px 3px 10px #ddd;
}
.groupBtn-options {
    .btn-first {
        padding: 5px 12px;
    }
}
.printBtn {
    border-radius: 20px;
    padding: 4px 15px;
    &:focus {
        outline: 0;
    }
}
.lastModifyText {
    color: #999;
    font-size: 14px;
    padding-left: 20px;
}
.approved-ico {
    color: #55a757;
    font-size: 20px;
}
.reminderBtn {
    border-radius: 20px;
    padding: 5px 12px;
}
.reminder-ico {
    color: red;
    font-size: 20px;
}

.title {
    .projecttitle{
        font-size: 18px;
        margin-left: 20px;
        color: #2f6f98;
    }

}

.booking-add-on {
    .editor, .location, .comments{
        padding-bottom: 17px;
        .title{
            background: #f0f0f0;
            padding: 8px;
            font-size: 13px;
            font-weight: 600;
        }
    }
    .location{
        input{
            height: 32px;
            width:100%;
        }
    }
    .comments{
        textarea{
            width: 100%;
            height: 104px;
        }
    }
}