.spinner-sec {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    min-height: 100%;
    z-index: 9999;
    .center-spinner-div {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        
        ::ng-deep .mat-progress-spinner circle, 
        ::ng-deep .mat-spinner circle {
            stroke: #23506f !important;
        }
        
    }
}

