<div  class="showDataModal">
    <div  class="modal fade in" style="display:block;background: rgba(0, 0, 0, 0.6);">
        <div class="modal-dialog modal-md">
            <div class="modal-content mdlUpdateConfig mdlConfInfo">
                <div class="modal-header">
                    <button (click)="hideRevenueModal()" type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <!-- {{projectModalData?projectModalData.status:''}} -->
                        {{'Project' | translate}} {{'Revenue' | translate}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="text-right mb-20">
                        <a (click)="downloadSheet()" title="Download Sheet" href="javascript:void(0)" class="btn btn-first btn-exl ripple">
                            {{'Export' | translate}} {{'To' | translate}} <i class="fa fa-file-excel-o"></i>
                        </a>
                    </div>

                    <div class="projectStatus-Sec">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="2">
                                        Period - {{revenueModalData ?  revenueModalData.period : ''}}
                                    </th>
                                    <th colspan="2">
                                        Exported - {{revenueModalData ?  revenueModalData.timestamp : ''}}
                                    </th>
                                </tr>
                                <tr>
                                    <th>Project Team Id</th>
                                    <th>Project Title</th>
                                    <th>Project Date</th>
                                    <th>Total Without Tax</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let project of revenueModalData.projects">
                                    <td>{{project.id}}</td>
                                    <td>{{project.title}}</td>
                                    <td>{{getFormateddate(project.date)}}</td>
                                    <td>{{project.totalPriceIVAT | currency}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <!-- <div class="modal-footer">
                    <a (click)="downloadSheet()" title="Download Sheet" href="javascript:void(0)" class="btn btn-first btn-exl ripple">
                        Export to <i class="fa fa-file-excel-o"></i>
                    </a>
                </div> -->
            </div>
        </div>
    </div>
</div>