@import '../save-channel/save-channel.component';
@import '../../../variables';

.save-currency {
    .m-0 {
        margin: 0;
    }
    .mb-0 {
        margin-bottom: 0;
    }
    // Custom Select Search style //
    .search-Flter-div {
        position: relative;
        padding: 0px 50px 0px 0px;
        .select-Search {
            .value {
                height:36px;
                padding: 4px 16px 2px 4px !important;
                &::before {
                    right: 5px;
                }
            }
            .list {
                //width: 200px !important;
                top: 36px;
                .filter {
                    padding: 8px 10px;
                    input {
                        width: 100%;
                        font-size: 14px;
                        height: 28px;
                        color: #1f202a;
                        border: none;
                        border-bottom: 1px solid #d1d2dd;
                        outline: none;
                        margin: 0;
                        padding: 0 0 5px;
                    }
                }
            }
            & .open {
                ul {
                    max-height: 100px;
                    overflow-y: auto;
                    li {
                        padding: 4px 10px;
                    }
                }
            }
        }
        /* Button */
        .btn-plus {
            position: absolute;
            right: 0;
            top: 0;
            padding: 8px 15px;
            border-radius: 3px;
        }
    }

    /*-- BaseOption radio --*/
    .primaryOption {
        .radio-custom {
            opacity: 0;
            position: absolute;
            top: 0;
        }
        .radio-custom-label {
            position: relative;
            font-size: 13px;
            font-weight: normal;
            margin-bottom: 0px;
        }
        .radio-custom,
        .radio-custom-label {
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
        }
        .radio-custom {
            +.radio-custom-label:before {
                content: '';
                background: #fff;
                border: 1px solid #2f6f98;
                display: inline-block;
                vertical-align: middle;
                width: 16px;
                height: 16px;
                padding: 2px;
                margin-right: 6px;
                margin-bottom: 4px;
                text-align: center;
                border-radius: 0;
            }
            &:checked+.radio-custom-label:before {
                background: #2f6f98;
                box-shadow: inset 0px 0px 0px 1px #fff;
            }
            &:focus+.radio-custom-label {
                /*outline: 1px solid #ddd;*/
                /* focus style */
            }
        }
    }
    /*-- BaseOption radio --*/
}