<app-spinner [blockedPanel]='blockedPanel'></app-spinner>

<div class="equipment-package" *ngIf="equipmentDetail">

    <!-- Filter-Header -->
    <div class="filter-header">
        <div class="container-fluid pad-0">
            <h1 class="title">{{'Equipment' | translate}}</h1>
        </div>
    </div>


    <div class="inner-content">

        <!-- EQUIPMENT HEADER -->
        <div class="equipment-info-content">
            <ul class="equipment-current-status">
                <li>
                    <h5 class="name">{{equipmentDetail.name}} <span class="subName">{{'Equipment' | translate}}</span></h5>
                </li>
                <li>
                    <div class="team-name">
                        <!-- <div class="ribbon">
                            <span class="activeRibbon">Available</span>
                        </div> -->
                        <h5 class="name">{{'TEAM-74' | translate}}<span class="subName">{{'New York' | translate}}, {{'NY' | translate}}</span></h5>
                    </div>
                </li>
                <li>
                    <h5 class="name">{{equipmentDetail.location}}<span class="subName">{{'Location' | translate}}: {{'HQ' | translate}}</span></h5>
                </li>
                <li>
                    <h5 class="name">{{'ID' | translate}}: {{equipmentDetail.id}} <span class="subName">{{'IP' | translate}}: {{equipmentDetail.specsIp}}</span></h5>
                </li>

                <li>
                    <h5 class="name">{{equipmentDetail.format}} <span class="subName">{{'Format' | translate}}</span></h5>
                </li>
                <li class="text-right">

                        <div class="equipment-on">
                                <img alt="" src="../../assets/img/lg-market-place.png">
                                <label class="switch">
                                    <input type="checkbox" disabled [(ngModel)]="equipmentDetail.marketplace">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="equipment-on pull-left">
                                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                <label class="switch">
                                    <input type="checkbox" disabled [(ngModel)]="equipmentDetail.available">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                </li>
            </ul>
        </div>

        <!-- EQUIPMENT BODY -->
        <div class="equipment-body">
            <div class="row">
                <div class="col-lg-11 col-lg-11 col-lg-offset-1">

                    <div class="row">
                        <div class="col-lg-12">

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-3">
                            <!-- EQUIPMENT PANEL -->
                            <div class="grid">
                                <div class="profile-img" style="background: #999;">
                                    <span class="profile-span">
                                        <i class="fa fa-suitcase"></i>
                                    </span>
                                </div>
                                <div class="grid-header mb-0">
                                    {{'Package' | translate}}
                                </div>
                                <div class="grid-body">
                                    <div class="equipment-package-list">
                                        <ul class="equipment-info">
                                            <li *ngFor="let equipment of selectedEquipmentList">
                                                <h5 class="name">{{equipment.name}} {{equipment.brand}}
                                                    <span class="subName">{{equipment.model}}</span>
                                                </h5>
                                                <a href="javascript:void(0)" class="btn-icon" (click)="removeEquipmentFromPacakge(equipment)" *ngIf="isEquipmentManager">
                                                    <i class="fa fa-minus-circle"></i>
                                                </a>
                                            </li>
                                        </ul>

                                        <!-- <textarea class="form-control" name="" rows="4" placeholder="Description"></textarea> -->

                                    </div>
                                </div>
                                <div class="text-center mt-20">
                                    <button class="btn btn-first" (click)="savePackage()" *ngIf="isEquipmentManager">{{'Save' | translate}}</button>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-1">
                            <span class="swipe-data">
                                <i class="fa fa-exchange" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="col-lg-3 col-md-12">

                            <!-- EQUIPMENT PANEL -->
                            <div class="grid">
                                <div class="profile-img">
                                    <span class="profile-span">
                                        <img src="../../assets/img/equipment/equipment-icon.png" alt="Equipment">
                                    </span>

                                </div>
                                <div class="grid-header">
                                    {{'Equipment List' | translate}}
                                    <div class="filter" id="filter-id">
                                        <div class="filter-buttons">
                                            <a href="javascript:void(0)" (click)="isfiterClicked = !isfiterClicked">{{'Filter by' | translate}}
                                                        <i class="fa fa-sliders"></i>
                                                    </a>
                                        </div>
                                    </div>
                                    <div class="filter-box" id="filter-id" [ngClass]="!isfiterClicked ? 'hide':''">
                                        <div class="arrow"></div>

                                        <div class="filter-row" id="filter-id" [ngClass]="!isFilterByModelClicked?'collapse-ul':''">

                                            <h4 class="title4" (click)="isFilterByModelClicked =!isFilterByModelClicked">{{'Model' | translate}}
                                                <i class="fa fa-angle-down"></i>
                                            </h4>
                                            <ul class="chk-list ">

                                                <li *ngFor="let modelCheckBox of modelCheckBoxList;let modelIndex = index">
                                                    <div class="checkbox">
                                                        <input type="checkbox" id={{modelCheckBox.label}}{{modelIndex}} (click)="addSelectedModelCheckbox(modelCheckBox)">
                                                        <label for={{modelCheckBox.label}}{{modelIndex}} class="chk"></label>
                                                        <label for={{modelCheckBox.label}}{{modelIndex}}>{{modelCheckBox.label}}</label>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>


                                    </div>
                                </div>

                                <div class="grid-body">

                                    <ul class="equipment-info">
                                        <li *ngFor="let equipment of equipmentList |equipmentFilter:selectedFunctionCheckBoxList:selectedModelCheckBoxList:selectedLocationCheckBoxList">
                                            <h5 class="name">{{equipment.name}} {{equipment.brand}}
                                                <span class="subName">{{equipment.model}}</span>
                                            </h5>
                                            <a href="javascript:void(0)" class="btn-icon" (click)="addEquipmentToPackage(equipment)" *ngIf="isEquipmentManager">
                                                <i class="fa fa-plus-circle"></i>
                                            </a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-lg-offset-1 col-md-12">
                            <!-- ADDED EQUIPMENT -->
                            <div class="grid">
                                <div class="previous-packagaelist">

                                    <div class="profile-img">
                                        <span class="profile-span">
                                            <img src="../../assets/img/equipment/lg-eng-camera.jpg" alt="Equipment">
                                        </span>
                                    </div>
                                    <div class="grid-header">{{'Package Location' | translate}}</div>

                                    <div class="grid-body">
                                        <div class="package-data">
                                            <ul class="">
                                                <li>
                                                    <a href="javascript:void(0)" class="label">
                                                        <span>
                                                            <i class="fa fa-suitcase"></i>
                                                        </span>{{(equipmentDetail!=null && equipmentDetail.resource!=null && equipmentDetail.resource.parent!=null)?equipmentDetail.resource.parent.name:''}}

                                                        <i class="fa fa-minus-square-o plus-fa" aria-hidden="true"></i>
                                                    </a>
                                                    <ul class="child">
                                                        <li *ngFor="let subPackage of subPackageList">{{subPackage.name}}</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>