<app-spinner [blockedPanel]='blockedPanel'></app-spinner> 
<div  class="modal fade in" style="display:block;background: rgba(0, 0, 0, 0.6);">
    <div class="modal-dialog modal-md" >
        <form [formGroup]="keywordForm">
        <!-- Modal content-->
            <div class="modal-content mdlUpdateConfig mdlConfInfo">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" (click)="hideKeywordModal()">&times;</button>
                    <h4 class="modal-title">
                            {{modalText |translate}}
                    </h4>
                </div>
                <div class="modal-body">
                    <!-- tab Content Start -->
                    <div class="InfoContentSec">
                        <div class="row mb-20">
                            <div class="col-sm-6">
                                <label>{{'Keyword' |translate}}<span class="astrick">*</span></label>
                                <input type="text" class="form-control" placeholder="Keyword" formControlName="keyword" (focusout)="validateKeyword=true"/>
                                <span *ngIf="validateKeyword && keywordForm.controls.keyword.invalid" style="color: #a94442;text-align: left;font-size: 14px;margin-top: 5pt;">
                                <div *ngIf="keywordForm.controls.keyword.errors.pattern">Keyword should not be only numeric</div>
                                <div *ngIf="keywordForm.controls.keyword.errors.required">Keyword is a mandatory field</div>
                                </span>
                            </div>
                        </div>
                        <div class="common-Sec"> 
                            
                            <div class="row">
                                <!-- SIGNATURE APPROVAL DETAILS -->
                                
                                    
                                    <div class="col-lg-12 col-md-12">
                                        <div class="grid">
                                            <div class="grid-body">
                                                <div class="table-responsive">
                                                    <table class="table signaturetable keywordtable table-hover text-center">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-left" (click)="addKeyToKeysList(null)">
                                                                    <span class="addmore"><i class="fa fa-plus-circle" ></i></span> 
                                                                    <span>Key</span>
                                                                </th>
                                                                <th class="text-right">&nbsp;</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody  formArrayName="keysList">
                                                            <tr *ngFor="let key of keysListForm.controls; let i=index" [formGroupName]="i">
                                                                <td class="text-left">
                                                                    <input type="text" class="form-control editableInput width-200" placeholder="Key" formControlName="keyValue" (focusout)="validateKey=true"/>
                                                                    <span *ngIf="validateKey && key.controls.keyValue.invalid" style="color: #a94442;text-align: left;font-size: 14px;margin-top: 5pt;">
                                                                      <div *ngIf="key.controls.keyValue.errors.pattern">Key should not be only numeric</div>
                                                                      <div *ngIf="key.controls.keyValue.errors.required">Key is a mandatory field</div>
                                                                      </span>
                                                                </td>
                                                                <td class="text-right">
                                                                    <a class="deleteIco" href="javascript:void(0);" (click)="removeKeyFromKeysList(i)"><i class="fa fa-trash"></i></a>
                                                                    <!-- <a class="ml-10" href="javascript:void(0);"><i class="fa fa-pencil-square-o"></i></a> -->
                                                                </td>
                                                            </tr>
                                                           
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                                <!-- SIGNATURE APPROVAL DETAILS END -->
                            </div>
                        </div>
                    </div>
                    <!-- Content End -->
                </div>
                <div class="modal-footer ">
                    <div class="row">
                        <div class="button-set" class="col-md-12">
                            <button type="button" style="background-color: darkred;" class="btn btn-first pull-left" *ngIf="this.selectedKeyword.id" (click)="showDeleteModal=!showDeleteModal" >{{'Delete' |translate}}</button>
                            <button type="submit" class="btn btn-first pull-right" (click)="saveKeyword()" >{{'Save' |translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<app-delete-confirm-modal *ngIf="showDeleteModal" [componentName]="componentName" (deleteDataEvent)="deleteKeyword($event)" (closeModalEvent)="closeDeleteConfirmModal($event)"></app-delete-confirm-modal>