<!--     Spinner component-->
<app-spinner [blockedPanel]='blockedPanel'></app-spinner>
<!-- SIGNIN PAGE -->
<div class="signin" (window:resize)="onResize($event)" [style.minHeight.px]="myInnerHeight" *ngIf="!isMailSent">
<div class="inner-page">
    <h3 class="title3">{{'Forgot Password' | translate}}</h3>

    <div class="page-logo">
        <img src="assets/img/signin-icon-white.png" alt="" class="logo1">
        <img src="assets/img/Teamium-white.png" alt="" class="logo2">
        <p>{{'Production Platform' | translate}}</p>
    </div>

    <form [formGroup]="forgotPasswordForm" (submit)="sendMail()">
        <div class="basic-form">
            <div class="">
                <p>Enter your email address and we will send you a link to reset your password</p>
            </div>
            <div class="form-control-row" [ngClass]="{'valid':forgotPasswordForm.controls['email'].valid}">
                <span class="icon"><i class="fa fa-user"></i></span>
                <input type="text" name="email" class="form-control" formControlName="email">
                <label>{{'Email' | translate}}*</label>
            </div>
            <div *ngIf="forgotPasswordForm.get('email').invalid && forgotPasswordForm.get('email').touched" style="color: #ff3834;text-align: left;font-size: 14px;margin-top: 5pt;">{{'The valid email is required' | translate}}.</div>
            
        </div>

        
        <div class="basic-form-footer">
            <button class="btn btn-first btn-lg mb-15" type="submit" [disabled]="forgotPasswordForm.get('email').invalid" style="max-width: 260px;">{{'Send password reset email' | translate}}</button>
            <p class="info">Don't have an account? <a href="javascript:void(0)" class="link" (click)="goSignup()">{{'Sign up' | translate}}</a></p>
            <p class="info"><a href="javascript:void(0)" class="link" (click)="goTosignIn()">{{'Sign in' | translate}}</a></p>
        </div>
    </form>
</div>

</div>
<div class="signin" (window:resize)="onResize($event)" [style.minHeight.px]="myInnerHeight" *ngIf="isMailSent">
<div class="inner-page">
    <h3 class="title3">&nbsp;</h3>

    <div class="page-logo">
        <img src="assets/img/signin-icon-white.png" alt="" class="logo1">
        <img src="assets/img/Teamium-white.png" alt="" class="logo2">
        <p>{{'Production Platform' | translate}}</p>
    </div>

    <form [formGroup]="forgotPasswordForm" (submit)="sendMail()">
        <div class="basic-form">
            <div class="">
                <p>Check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your spam folder.</p>
            </div>
            
            
            
        </div>

        
        <div class="basic-form-footer">
            <button class="btn btn-first btn-lg mb-15" type="submit" style="max-width: 260px;" (click)="goTosignIn()">{{'Return To sign in' | translate}}</button>
            
        </div>
    </form>
</div>

</div>


