<!--MAIN HEADER -->
<header class="header header-fixed-top">
    <div class="navbar-menu toolsPageHead">
        <app-sidebar-toggle></app-sidebar-toggle>
        <div class="user-tool-Img">
            <a  href="javascript:void(0);" class="user-Img">
                <img src="assets/img/user-img.png" alt="" />
                <span class="settings-Icon"><i class="fa fa-cog"></i></span>
            </a>
            <h4 class="userName">{{'Peter Richards' | translate}}</h4>
        </div>
    </div>
    <!--sub-Menu-->
    <!-- <div class="sub-Menu">
        <button type="button" class="btn btn-first btn-lg btn-assign-me ripple">Peter Richards</button>
    </div> -->
</header>
  
  
  
  <!-- WRAPPER -->
  <div id="wrapper" class="wrapper">
    <!--sideBar-->
    <app-sidebar></app-sidebar>
  
    <!-- Main Section -->
    <section class="main-section">
  
          
        <!-- Add Your Content Inside -->
        <div class="content pad-btm-50">
  
            <div class="usersContent">
                
                <ul class="tools-Sec content-center flex-container">
                    <!-- cards-->
                    <li class="tools-card">
                        <div class="tools-icon-div">
                            <img src="assets/img/calender-ico-active.png" alt=""/>
                        </div>
                        <p class="tools-title">{{'Roster' | translate}}</p>
                    </li>
                    <li class="tools-card">
                        <div class="tools-icon-div">
                            <img src="assets/img/contract-ico-active.png" alt=""/>
                        </div>
                        <p class="tools-title">{{'Contract' | translate}}</p>
                    </li>
                    <li class="tools-card">
                        <div class="tools-icon-div">
                            <img src="assets/img/timers-ico-active.png" alt=""/>
                        </div>
                        <p class="tools-title">{{'Time Report' | translate}}</p>
                    </li>
                    <li class="tools-card">
                        <div class="tools-icon-div">
                            <img src="assets/img/process-ico-active.png" alt=""/>
                        </div>
                        <p class="tools-title">{{'Process' | translate}}</p>
                    </li>
                    <!-- cards-->
                </ul>

            </div>
  
        </div>
        <!-- /.content -->
    </section>
    <!-- /.main-section -->
  </div>
  <!-- /#wrapper -->
  
  <!-- MANU FOOTER -->
  <app-footer></app-footer>
  
  <!-- MANU FOOTER -->
  
  
