<!-- SIGNIN PAGE -->
<div class="signin"  [style.minHeight.px]="myInnerHeight" *ngIf="vaildRecoveryToken">
  <div class="inner-page">
      <h3 class="title3">{{'Reset Password' | translate}}</h3>

      <div class="page-logo">
          <img src="assets/img/signin-icon-white.png" alt="" class="logo1">
          <img src="assets/img/Teamium-white.png" alt="" class="logo2">
          <p>{{'PRODUCTION PLATFOR' | translate}}</p>
      </div>

      <form [formGroup]="resetPasswordForm">
          <div class="basic-form">
              <div class="form-control-row" [ngClass]="{'valid':resetPasswordForm.controls['password'].valid}">
                  <span class="icon"><i class="fa fa-key"></i></span>
                  <input type="password" name="npassword" class="form-control" formControlName="password">
                  <label>{{'New Password' | translate}}*</label>
              </div>
              
              <div class="form-control-row" [ngClass]="{'valid':resetPasswordForm.controls['confirmPassword'].valid}">
                  <span class="icon"><i class="fa fa-key"></i></span>
                  <input type="password" class="form-control" name="cpassword" formControlName="confirmPassword">
                  <label>{{'Confirm Password' | translate}}*</label>
                  
              </div>
              <span *ngIf=" resetPasswordForm.get('confirmPassword').value && resetPasswordForm.get('confirmPassword').value.length !=0 && resetPasswordForm.get('confirmPassword').invalid"
                  style="color: #a94442;text-align: left;font-size: 14px;margin-top: 5pt;">{{'Confirm password does not matched' | translate}}.</span>
              
          </div>


          <div class="basic-form-footer">
              <button class="btn btn-first btn-lg mb-15"  [disabled]="resetPasswordForm.invalid" (click)="reset()">{{'Save' | translate}}</button>
              <p class="info">Don't have an account? <a href="javascript:void(0)" class="link" (click)="goSignup()">{{'Sign up' | translate}}</a></p>
          </div>
      </form>
  </div>
</div>

<div class="signin"  [style.minHeight.px]="myInnerHeight"  *ngIf="!vaildRecoveryToken">
    <div class="inner-page">
        <h3 class="title3">{{'Token expired or already validated' | translate}}.</h3>
  
        <div class="page-logo">
            <img src="assets/img/signin-icon-white.png" alt="" class="logo1">
            <img src="assets/img/Teamium-white.png" alt="" class="logo2">
            <p>{{'PRODUCTION PLATFORM' | translate}}</p>
        </div>
           <div class="basic-form-footer">
                <button class="btn btn-first btn-lg mb-15"   (click)="goToForgotPassowrd()">{{'Resend mail' | translate}}</button>
                <p class="info">Don't have an account? <a href="javascript:void(0)" class="link" (click)="goSignup()">{{'Sign up' | translate}}</a></p>
                <p class="info"><a href="javascript:void(0)" class="link" (click)="goTosignIn()">{{'Sign In' | translate}}</a></p>
            </div>
       
    </div>
  </div>
