<app-spinner [blockedPanel]='blockedPanel'></app-spinner>

<!-- <div class="head-Content">
    <button (click)="print()">print</button> -->

<div class="scheduler-page equipment-list">

    <!-- FILTER HEADER   -->
    <div class="filter-header" style="border-bottom:0;margin-bottom: 0;padding-bottom: 0;">
        <div class="container-fluid pad-0" style="display: flex;align-items: center;">
            <h1 class="title" style="    white-space: nowrap;">{{'Group View' | translate}}
            </h1>
            <!-- <span>{{'Project' | translate}} 123</span> -->
            <form *ngIf="timeLineForm" [formGroup]="timeLineForm" style="margin:0 15px;width:100%;">
                <div class="form-content">
                    <div class="row">

                        <div class="col-xs-4">
                            <div class="input-row ">
                                <label>{{'Type' | translate}}</label>
                                <select class="form-control" formControlName="groupName">
                                    <option [ngValue]="null">{{'Select Type' | translate}}</option>
                                    <option *ngFor="let groupName of groupDropDown |groupFilter:searchText" [ngValue]="groupName">{{groupName.name}}</option>
                                </select>
                            </div>
                        </div>



                        <div class="col-xs-4">
                            <div class="input-row">
                                <label>{{'Date' | translate}}</label>
                                <div>
                                    <p-calendar formControlName="date"></p-calendar>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <div class="input-row ">
                                <label>{{'Format' | translate}}</label>
                                <select class="form-control" formControlName="format">
                                    <option [ngValue]="null">{{'Select Type' | translate}}</option>
                                    <option *ngFor="let format of formats" [ngValue]="format">{{format}}</option>
                                </select>
                            </div>
                        </div>




                    </div>
                </div>
            </form>
            <div class="filter" style="min-width: 365px;">

                <div class="filter-search">
                    <input type="text" class="input-search" [(ngModel)]="searchText" placeholder="Search...">
                    <i class="fa fa-search"></i>
                    <div class="optionDiv">

                        <a href="javascript:void(0)" class="ml-5" (click)="openOpion=!openOpion" id="option-id">
                            <i class="fa fa-list-ul"></i> {{'Options' | translate}}
                        </a>

                        <form *ngIf="timeLineForm" [formGroup]="timeLineForm">
                            <div class="optionsBox" id="option-id" *ngIf="openOpion">
                                <div class="arrow"></div>
                                <ul class="chk-list">
                                    <li>
                                        <div _ngcontent-c4="" class="checkbox">
                                            <input _ngcontent-c4="" type="checkbox" id="0" formControlName="moveable">
                                            <label _ngcontent-c4="" class="chk" for="0"></label>
                                            <label _ngcontent-c4="" for="0">{{'Move' | translate}}</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div _ngcontent-c4="" class="checkbox">
                                            <input _ngcontent-c4="" type="checkbox" id="1" formControlName="resizable">
                                            <label _ngcontent-c4="" class="chk" for="1"></label>
                                            <label _ngcontent-c4="" for="1">{{'Resize' | translate}}</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div _ngcontent-c4="" class="checkbox">
                                            <input _ngcontent-c4="" type="checkbox" id="4" formControlName="link">
                                            <label _ngcontent-c4="" class="chk" for="4"></label>
                                            <label _ngcontent-c4="" for="4">{{'Show Link' | translate}}</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div _ngcontent-c4="" class="checkbox">
                                            <input _ngcontent-c4="" type="checkbox" id="2">
                                            <label _ngcontent-c4="" class="chk" for="2"></label>
                                            <label _ngcontent-c4="" for="2">{{'Roster Unavailability' | translate}}</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div _ngcontent-c4="" class="checkbox">
                                            <input _ngcontent-c4="" type="checkbox" id="3">
                                            <label _ngcontent-c4="" class="chk" for="3"></label>
                                            <label _ngcontent-c4="" for="3">{{'Unavailability' | translate}}</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div _ngcontent-c4="" class="checkbox">
                                            <input _ngcontent-c4="" type="checkbox" id="5" formControlName="selectMultiple">
                                            <label _ngcontent-c4="" class="chk" for="5"></label>
                                            <label _ngcontent-c4="" for="5">{{'Select Multiple' | translate}}</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <a href="javascript:void(0)" class="ml-5" (click)="print()">
                        <i class="fa fa-print"></i> {{'Print' | translate}}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="chooseMultiSelection">
        <div class="row">

            <div class="col-md-8">
                <task-scheduled-edit-dialog #editScheduled></task-scheduled-edit-dialog>
                <app-createevent #createScheduled></app-createevent>
            </div>
        </div>
    </div>

    <div class="scheduler-Sec" [ngClass]="isClick?'column-right':''">
        <daypilot-scheduler [config]="config" [events]="events" #scheduler></daypilot-scheduler>
    </div>

    <div class="clear"></div>



</div>

<!-- CONFIRM Modal -->
<div id="myModal" class="modal in fade add-personnel-modal" style="display: block;" *ngIf='splitEventValue'>
    <div class=" modal-dialog modal-sm ">
        <form [formGroup]="splitForm" (submit)="splitEvents()">
            <!-- Modal content-->
            <div class="modal-content ">
                <div class="modal-header ">
                    <button type="button " class="close " data-dismiss="modal" (click)="closeSplit()"> &times;</button>
                    <h4 class="title ">{{'Split' | translate}}</h4>
                </div>
                <div class="modal-body ">
                    <div class="create-personnel ">
                        <div class="inner-content ">
                            <div class="form-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-row">
                                            <label>{{'Split' | translate}}</label>
                                            <input class="form-control" placeholder="Split" formControlName="splitNumber" />
                                        </div>
                                        <span *ngIf="splitForm.get('splitNumber').invalid" style="color: #a94442;text-align: left;font-size: 14px;margin-top: 5pt;">{{'Please enter valid Number' | translate}}.</span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer ">
                    <div class="button-set text-center ">
                        <button class="btn btn-first" type="submit" [disabled]="splitForm.invalid"> {{'Yes' | translate}} </button>
                        <button class="btn btn-first" (click)="closeSplit()">{{'No' | translate}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Link Event Modal-->
<div id="myModal" class="modal in fade add-personnel-modal" style="display: block;" *ngIf='linkEventValue'>
    <div class=" modal-dialog modal-sm ">
        <form [formGroup]="linkEventForm" (submit)="saveLinkEvents()">
            <!-- Modal content-->
            <div class="modal-content ">
                <div class="modal-header ">
                    <button type="button " class="close " data-dismiss="modal" (click)="closeLinkSplit()"> &times;</button>
                    <h4 class="title ">{{'Link Events' | translate}}</h4>
                </div>
                <div class="modal-body ">
                    <div class="create-personnel ">
                        <div class="inner-content ">
                            <div class="form-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-row">
                                            <label>{{'Linked Events' | translate}}</label>
                                            <div class="added-value-content" *ngIf="events">
                                                <div class="added-value" *ngFor="let event of linkedEventsList">
                                                    <label>{{event.text}}
                                                        <!-- <span>{{milestone.type}}</span> -->
                                                    </label>
                                                    <a href="javascript:void(0)" class="close" (click)="saveLinkEvents(event)">&times;</a>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="input-row">
                                                        <label>{{'Event' | translate}}</label>
                                                        <select class="form-control" formControlName="eventName">
                                                            <option [ngValue]="null">{{'Select Event' | translate}}</option>
                                                            <option *ngFor="let eventName of linkingEventsList" [ngValue]="eventName">{{eventName.text}}</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-1">
                                                    <label>&nbsp;</label>
                                                    <div class="text-right mt-0 p-0">
                                                        <!-- <button class="btn btn-first btn-plus" [disabled]="linkEventForm.get('eventName').invalid" (click)="linkEvents ()">
                                                            <i class="fa fa-plus"></i>
                                                        </button> -->
                                                        <button class="btn btn-first" [disabled]="linkEventForm.get('eventName').invalid" type="submit"> {{'Save' | translate}} </button>

                                                    </div>
                                                </div>

                                            </div>

                                            <!-- <input class="form-control" placeholder="Split" formControlName="splitNumber" /> -->
                                        </div>
                                        <!-- <span *ngIf="splitForm.get('splitNumber').invalid" style="color: #a94442;text-align: left;font-size: 14px;margin-top: 5pt;">Please enter valid Number.</span> -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer ">
                    <div class="button-set text-center ">
                        <!-- <button class="btn btn-first" type="submit"> Save </button> -->
                        <button class="btn btn-first" (click)="closeLinkSplit()">{{'Close' | translate}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>