<!--MAIN HEADER -->
<header class="header header-fixed-top">
    <div class="navbar-menu">
        <!--toggle-->
        <app-sidebar-toggle></app-sidebar-toggle>

        <!--Page Title Text-->
        <h4 class="title">{{'Task' | translate}}</h4>

        <!--user-Img-->
        <app-profile-pic></app-profile-pic>
    </div>
    
    <!-- Sub-Menu -->
    <div class="sub-Menu subMenu-filter">
        <div class="search-filter">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control input-search" placeholder="Search"/>
        </div>
        <span class="notepad-ico ripple"><img src="assets/img/notepad-ico.png" alt=""/></span>
    </div>
</header>
  
  <!-- WRAPPER -->
  <div id="wrapper" class="wrapper">
    <!--sideBar-->
    <app-sidebar></app-sidebar>
  
    <!-- Main Section -->
    <section class="main-section">
        <!-- Add Your Content Inside -->
        <div class="content pad-btm-50">
  
          <div class="usersContent task">
              <ul>
                  <li class="task-list">
                      <h5 class="name">{{'Amex and Apple Pay' | translate}}
                          <span class="subName">{{'Postprod / Editor' | translate}}</span>
                      </h5>
                      <!--Time Report -->
                      <div class="time-status">
                          <span class="date-time"><img src="assets/img/calender-b.png" alt=""/> 05/13/18</span>
                          <span class="date-time ml-10"><img src="assets/img/watch-ico.png" alt=""/> 10:00 AM</span>
                      </div>
                      <!--arrow-->
                      <a href="javascript:void(0);" class="arrow"><i class="fa fa-chevron-right"></i></a>
                  </li>
                  <li class="task-list">
                        <h5 class="name">{{'Amex and Apple Pay' | translate}}
                            <span class="subName">{{'Postprod / Editor' | translate}}</span>
                        </h5>
                      <!--Time Report -->
                      <div class="time-status">
                          <span class="date-time"><img src="assets/img/calender-b.png" alt=""/> 05/13/18</span>
                          <span class="date-time ml-10"><img src="assets/img/watch-ico.png" alt=""/> 10:00 AM</span>
                      </div>
                      <!--arrow-->
                      <a href="javascript:void(0);" class="arrow"><i class="fa fa-chevron-right"></i></a>
                  </li>
                  <li class="task-list">
                        <h5 class="name">{{'Amex and Apple Pay' | translate}}
                            <span class="subName">{{'Postprod / Editor' | translate}}</span>
                        </h5>
                      <!--Time Report -->
                      <div class="time-status">
                          <span class="date-time"><img src="assets/img/calender-b.png" alt=""/> 05/13/18</span>
                          <span class="date-time ml-10"><img src="assets/img/watch-ico.png" alt=""/> 10:00 AM</span>
                      </div>
                      <!--arrow-->
                      <a href="javascript:void(0);" class="arrow"><i class="fa fa-chevron-right"></i></a>
                  </li>
                  <li class="task-list">
                        <h5 class="name">{{'Amex and Apple Pay' | translate}}
                            <span class="subName">{{'Postprod / Editor' | translate}}</span>
                        </h5>
                      <!--Time Report -->
                      <div class="time-status">
                          <span class="date-time"><img src="assets/img/calender-b.png" alt=""/> 05/13/18</span>
                          <span class="date-time ml-10"><img src="assets/img/watch-ico.png" alt=""/> 10:00 AM</span>
                      </div>
                      <!--arrow-->
                      <a href="javascript:void(0);" class="arrow"><i class="fa fa-chevron-right"></i></a>
                  </li>
                  <li class="task-list">
                        <h5 class="name">{{'Amex and Apple Pay' | translate}}
                            <span class="subName">{{'Postprod / Editor' | translate}}</span>
                        </h5>
                    <!--Time Report -->
                      <div class="time-status">
                          <span class="date-time"><img src="assets/img/calender-b.png" alt=""/> 05/13/18</span>
                          <span class="date-time ml-10"><img src="assets/img/watch-ico.png" alt=""/> 10:00 AM</span>
                      </div>
                      <!--arrow-->
                      <a href="javascript:void(0);" class="arrow"><i class="fa fa-chevron-right"></i></a>
                  </li>
                  <li class="task-list">
                        <h5 class="name">{{'Amex and Apple Pay' | translate}}
                            <span class="subName">{{'Postprod / Editor' | translate}}</span>
                        </h5>
                      <!--Time Report -->
                      <div class="time-status">
                          <span class="date-time"><img src="assets/img/calender-b.png" alt=""/> 05/13/18</span>
                          <span class="date-time ml-10"><img src="assets/img/watch-ico.png" alt=""/> 10:00 AM</span>
                      </div>
                      <!--arrow-->
                      <a href="javascript:void(0);" class="arrow"><i class="fa fa-chevron-right"></i></a>
                  </li>
              </ul>
          </div>
  
        </div>
        <!-- /.content -->
    </section>
    <!-- /.main-section -->
  </div>
  <!-- /#wrapper -->
  
  <!-- MANU FOOTER -->
  <app-footer></app-footer>
  
  <!-- MANU FOOTER -->
