<!--MAIN HEADER -->
<header class="header header-fixed-top">
    <div class="navbar-menu">
        <!-- <a href="javascript:void(0);" id="menuToggler" class="menuToggler ripple">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </a> -->
        <app-sidebar-toggle></app-sidebar-toggle>
        <div class="search-filter">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control input-search" placeholder="Search"/>
        </div>
        <app-profile-pic></app-profile-pic>
    </div>
    <div class="sub-Menu">
        <!-- <button type="button" class="btn btn-first btn-lg btn-assign-me ripple">Assigned to me</button> -->

        <div class="switch-field">
            <div>
              <input type="radio" id="switch_left" name="switch_2" value="yes" checked/>
              <label for="switch_left">{{'My Jobs' | translate}}</label>
            </div>
            <div>
              <input type="radio" id="switch_right" name="switch_2" value="no" />
              <label for="switch_right">{{'Postings' | translate}}</label>
            </div>
        </div>

    </div>
</header>
  
  <!-- WRAPPER -->
  <div id="wrapper" class="wrapper">

    <!--sideBar-->
    <app-sidebar></app-sidebar>
  
    <!-- Main Section -->
    <section class="main-section">
        <!-- Add Your Content Inside -->
        <div class="content pad-btm-50">
  
          <div class="usersContent">
              <!-- cards-->
              <div class="card" *ngFor="let job of jobList">
                    <div class="card-header">
                        <h4 class="title">{{'PostProduction' | translate}}
                          <span class="timeText">{{'9m ago' | translate}}</span></h4>
                    </div>
                    <div class="card-body">
                        <div class="production-Info">
                            <h4 class="pDuration">
                                <!-- {{'One Production - 3 days outdoor 4k shooting' | translate}} -->
                                {{job.projectTitle}}
                            </h4>
                            <p class="pTime">{{returnFromDate(job.from)}} - {{returnToDate(job.to)}}</p>
                        </div>
                        <div class="sign-Sec">
                            <div class="sign-Div">
                                <img src="assets/img/sign-Img.png" alt=""/>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <a href="javascript:void(0);" class="btn btn-first btn-accept ripple">{{'Sign' | translate}}</a>
                    </div>
                </div><!-- cards-->

              <!-- cards-->
              <div class="card" *ngFor="let job of jobList">
                  <div class="card-header">
                      <h4 class="title">
                        {{job.function ? job.function.qualifiedName:''}}
                        <span class="timeText">{{'9m ago' | translate}}</span></h4>
                  </div>
                  <div class="card-body">
                      <div class="production-Info">
                          <h4 class="pDuration">
                              <!-- {{'One Production - 3 days outdoor 4k shooting' | translate}} -->
                              {{job.projectTitle}}
                          </h4>
                          <!-- <p class="pTime">October 14th 10AM - 14th 6PM</p> -->
                          <p class="pTime">{{returnFromDate(job.from)}} - {{returnToDate(job.to)}}</p>
                      </div>
                  </div>
                  <div class="card-footer">
                      <a (click)="goToTaskDetails(job.id)" href="javascript:void(0);" class="see-more mt-5">{{'See More' | translate}}</a>
                  </div>
              </div>
              <!-- cards-->
          </div>
  
        </div>
        <!-- /.content -->
    </section>
    <!-- /.main-section -->
  </div>
  <!-- /#wrapper -->
  
  <!-- MANU FOOTER -->
  <app-footer></app-footer>
  
  <!-- MANU FOOTER -->
  

