<!--MAIN HEADER -->
<header class="header header-fixed-top">
    <div class="navbar-menu">
        <!--toggle-->
        <app-sidebar-toggle></app-sidebar-toggle>

        <!--Page Title Text-->
        <h4 class="title">{{'Call Sheet' | translate}}</h4>

        <!--user-Img-->
        <app-profile-pic></app-profile-pic>
    </div>
    
    <!-- Sub-Menu -->
    <div class="sub-Menu subMenu-filter">
        <div class="search-filter">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control input-search" placeholder="Search"/>
        </div>
        <span class="notepad-ico ripple"><img src="assets/img/filter-ico.png" alt=""/></span>
    </div>
</header>
  
  <!-- WRAPPER -->
  <div id="wrapper" class="wrapper">
    <!--sideBar-->
    <app-sidebar></app-sidebar>
  
    <!-- Main Section -->
    <section class="main-section">
        <!-- Add Your Content Inside -->
        <div class="content pad-btm-50">
  
          <div class="usersContent call-sheet">
              <ul>
                  <li class="client-list">
                      <div class="user-Img img-position">
                          <img src="../assets/img/user-img.png" alt=""/>
                      </div>
                      <h5 class="name">{{'John Hartwood' | translate}}
                          <span class="subName">{{'Postprod / Editor' | translate}}</span>
                      </h5>
                      <!-- MSG-LINK-->
                      <a href="javascript:void(0);" class="msg-link ripple"><img src="../assets/img/msg-ico.png" alt=""/></a>
                      <!--arrow-->
                      <a href="javascript:void(0);" class="arrow"><i class="fa fa-chevron-right"></i></a>
                  </li>
                  <li class="client-list">
                      <div class="user-Img img-position">
                          <img src="../assets/img/user-img-1.png" alt=""/>
                      </div>
                      <h5 class="name">{{'Pete Gallagher' | translate}}
                          <span class="subName">{{'Production Cameraman' | translate}}</span>
                      </h5>
                      <!-- MSG-LINK-->
                      <a href="javascript:void(0);" class="msg-link ripple"><img src="../assets/img/msg-ico.png" alt=""/></a>
                      <!--arrow-->
                      <a href="javascript:void(0);" class="arrow"><i class="fa fa-chevron-right"></i></a>
                  </li>
                  <li class="client-list">
                      <div class="user-Img img-position">
                          <img src="../assets/img/user-img-2.png" alt=""/>
                      </div>
                      <h5 class="name">{{'James Roy' | translate}}
                          <span class="subName">{{'Production Sound Eng' | translate}}</span>
                      </h5>
                      <!-- MSG-LINK-->
                      <a href="javascript:void(0);" class="msg-link ripple"><img src="../assets/img/msg-ico.png" alt=""/></a>
                      <!--arrow-->
                      <a href="javascript:void(0);" class="arrow"><i class="fa fa-chevron-right"></i></a>
                  </li>
                  <li class="client-list">
                      <div class="user-Img img-position">
                          <img src="../assets/img/user-img.png" alt=""/>
                      </div>
                      <h5 class="name">{{'John Hartwood' | translate}}
                          <span class="subName">{{'Postprod / Editor' | translate}}</span>
                      </h5>
                      <!-- MSG-LINK-->
                      <a href="javascript:void(0);" class="msg-link ripple"><img src="../assets/img/msg-ico.png" alt=""/></a>
                      <!--arrow-->
                      <a href="javascript:void(0);" class="arrow"><i class="fa fa-chevron-right"></i></a>
                  </li>
                  <li class="client-list">
                      <div class="user-Img img-position">
                          <img src="../assets/img/user-img-1.png" alt=""/>
                      </div>
                      <h5 class="name">{{'Pete Gallagher' | translate}}
                          <span class="subName">{{'Production Cameraman' | translate}}</span>
                      </h5>
                      <!-- MSG-LINK-->
                      <a href="javascript:void(0);" class="msg-link ripple"><img src="../assets/img/msg-ico.png" alt=""/></a>
                      <!--arrow-->
                      <a href="javascript:void(0);" class="arrow"><i class="fa fa-chevron-right"></i></a>
                  </li>
                  <li class="client-list">
                      <div class="user-Img img-position">
                          <img src="../assets/img/user-img-2.png" alt=""/>
                      </div>
                      <h5 class="name">{{'James Roy' | translate}}
                          <span class="subName">{{'Production Sound Eng' | translate}}</span>
                      </h5>
                      <!-- MSG-LINK-->
                      <a href="javascript:void(0);" class="msg-link ripple"><img src="../assets/img/msg-ico.png" alt=""/></a>
                      <!--arrow-->
                      <a href="javascript:void(0);" class="arrow"><i class="fa fa-chevron-right"></i></a>
                  </li>
              </ul>
          </div>
  
        </div>
        <!-- /.content -->
    </section>
    <!-- /.main-section -->
  </div>
  <!-- /#wrapper -->
  
  <!-- MANU FOOTER -->
  <app-footer></app-footer>
  
  <!-- MANU FOOTER -->
  

