<!-- Right Sidebar for Chat Users start-->
<div  appOuterClick (executeFunction)="hideUserList()"  [ngClass]="isUserListActive?'menu-backdrop':''">
        <div id="rightsideUser" class="rightsideUser" [ngClass]="isUserListActive?'rightsideUser':'rightsideUser-InActive'">
            <div class="">
                    <!-- rightsideUser -->
                <!-- search-filter -->
                <div class="people-search">
                    <div class="search-filter">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control input-search" placeholder="Search"/>
                    </div>
                    <span (click)="hideUserList()" class="close-ico ripple"><i class="fa fa-arrow-right"></i></span>
                </div>
    
                <!-- People-list -->
                <ul class="people">
                    <li class="person">
                        <div class="p-details">
                            <img src="assets/img/user-img.png" alt=""/>
                            <h5 class="p-Name">{{'Yannick Defrenne' | translate}}</h5>
                            <p class="status"><i class="fa fa-circle online"></i>{{' 7 minute ago' | translate}}</p>
                        </div>
                    </li>
                    <li class="person">
                        <div class="p-details">
                            <img src="assets/img/user-img-1.png" alt=""/>
                            <h5 class="p-Name">{{'Moin Shifu' | translate}}</h5>
                            <p class="status"><i class="fa fa-circle offline"></i>{{' 5 minute ago' | translate}}</p>
                        </div>
                    </li>
                    <li class="person">
                        <div class="p-details">
                            <img src="assets/img/user-img.png" alt=""/>
                            <h5 class="p-Name">{{'Yannick Defrenne' | translate}}</h5>
                            <p class="status"><i class="fa fa-circle online"></i>{{' 7 minute ago' | translate}}</p>
                        </div>
                    </li>
                    <li class="person">
                        <div class="p-details">
                            <img src="assets/img/user-img-1.png" alt=""/>
                            <h5 class="p-Name">{{'Moin Shifu' | translate}}</h5>
                            <p class="status"><i class="fa fa-circle offline"></i>{{' 5 minute ago' | translate}}</p>
                        </div>
                    </li>
                    <li class="person">
                        <div class="p-details">
                            <img src="assets/img/user-img.png" alt=""/>
                            <h5 class="p-Name">{{'Yannick Defrenne' | translate}}</h5>
                            <p class="status"><i class="fa fa-circle online"></i>{{' 7 minute ago' | translate}}</p>
                        </div>
                    </li>
                    <li class="person">
                        <div class="p-details">
                            <img src="assets/img/user-img-1.png" alt=""/>
                            <h5 class="p-Name">{{'Moin Shifu' | translate}}</h5>
                            <p class="status"><i class="fa fa-circle offline"></i>{{' 5 minute ago' | translate}}</p>
                        </div>
                    </li>
                    <li class="person">
                        <div class="p-details">
                            <img src="assets/img/user-img.png" alt=""/>
                            <h5 class="p-Name">{{'Yannick Defrenne' | translate}}</h5>
                            <p class="status"><i class="fa fa-circle online"></i>{{' 7 minute ago' | translate}}</p>
                        </div>
                    </li>
                    <li class="person">
                        <div class="p-details">
                            <img src="assets/img/user-img-1.png" alt=""/>
                            <h5 class="p-Name">{{'Moin Shifu' | translate}}</h5>
                            <p class="status"><i class="fa fa-circle offline"></i>{{' 5 minute ago' | translate}}</p>
                        </div>
                    </li>
                    <li class="person">
                        <div class="p-details">
                            <img src="assets/img/user-img.png" alt=""/>
                            <h5 class="p-Name">{{'Yannick Defrenne' | translate}}</h5>
                            <p class="status"><i class="fa fa-circle online"></i>{{' 7 minute ago' | translate}}</p>
                        </div>
                    </li>
                    <li class="person">
                        <div class="p-details">
                            <img src="assets/img/user-img-1.png" alt=""/>
                            <h5 class="p-Name">{{'Moin Shifu' | translate}}</h5>
                            <p class="status"><i class="fa fa-circle offline"></i>{{' 5 minute ago' | translate}}</p>
                        </div>
                    </li>
                    <li class="person">
                        <div class="p-details">
                            <img src="assets/img/user-img.png" alt=""/>
                            <h5 class="p-Name">{{'Yannick Defrenne' | translate}}</h5>
                            <p class="status"><i class="fa fa-circle online"></i>{{' 7 minute ago' | translate}}</p>
                        </div>
                    </li>
                    <li class="person">
                        <div class="p-details">
                            <img src="assets/img/user-img-1.png" alt=""/>
                            <h5 class="p-Name">{{'Moin Shifu' | translate}}</h5>
                            <p class="status"><i class="fa fa-circle offline"></i>{{' 5 minute ago' | translate}}</p>
                        </div>
                    </li>
                    <li class="person">
                        <div class="p-details">
                            <img src="assets/img/user-img.png" alt=""/>
                            <h5 class="p-Name">{{'Yannick Defrenne' | translate}}</h5>
                            <p class="status"><i class="fa fa-circle online"></i>{{' 7 minute ago' | translate}}</p>
                        </div>
                    </li>
                    <li class="person">
                        <div class="p-details">
                            <img src="assets/img/user-img-1.png" alt=""/>
                            <h5 class="p-Name">{{'Moin Shifu' | translate}}</h5>
                            <p class="status"><i class="fa fa-circle offline"></i>{{' 5 minute ago' | translate}}</p>
                        </div>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
    <!-- Right Sidebar for Chat Users end-->
