@import '../../../variables';
.mdlUpdateConfig {
    .modal-header {
        h4.modal-title {
            .sub-Title {
                font-size: 12px;
                color: #ccc;
                margin-bottom: 0;
            }
        }
    }
    .modal-body {
        .ContentSec {
            .nav-pills {
                li {
                    float: left;
                    width: 33%;
                    text-align: center;
                    border: 2px solid #337ab7;
                    a {
                        border-radius: 0;
                    }
                } 
            }
            .tab-content {
                .tab-pane {
                    .form-content {
                        .btn-plus {
                            border-radius: 2px;
                            padding: 9px 14px;
                            display: block;
                        }
                    }
                    .common-Sec {
                        margin-top:20px;
                        ul {
                            list-style: none;
                            padding-left: 0;
                            margin: 0;
                        }
                        .common-Ul {
                            border:2px solid #337ab7;
                            li {
                                padding: 8px 8px;
                                border-bottom: 1px solid #ddd;
                                .defaultText {
                                    font-size: 14px;
                                }
                                .ui-datepicker-timeonly {
                                    padding: 0;
                                    right: 0;
                                    left: auto !important;
                                    width: 99px !important;
                                }
                                .settingControls {
                                    position: relative;
                                    .editableInput {
                                        text-align: right;
                                        color: #337ab7;
                                        width: 75px;
                                        height: 22px;
                                        padding: 3px 22px 3px 5px;
                                    }
                                    .fixedLabel {
                                        position: absolute;
                                        top: 1px;
                                        right: 3px;
                                        color:#337ab7;
                                    }
                                }

                                .ng-trigger{
                                    left: 0px !important;
                                }
                                
                            }
                            .holidayListContent {
                                display: table;
                                width:100%;
                                .leftContent,
                                .rightContent {
                                    display: table-cell;
                                }
                                .text-right {
                                    text-align: right;
                                }
                                .editControlStyle{
                                    height: 28px !important;
                                    width: 100px !important;
                                    display: inline-block !important;
                                    margin-right: 10px !important;
                                }
                                span.ui-calendar {
                                    height: 28px !important;
                                    width: 100px !important;
                                    display: inline-block !important;
                                    margin-right: 10px !important;
                                    .inputtext {
                                        height: 28px !important;
                                        width: 100px !important;
                                        display: inline-block !important;
                                        margin-right: 10px !important;
                                    }
                                }
                            }
                        }
                        & .approvalList {
                            .name {
                                margin: 0;
                                font-size: 12px;
                                color: #337ab7;
                                font-weight: bold;
                                .subName {
                                    display: block;
                                    font-size: 80%;
                                    color: #999;
                                    font-weight: bold;
                                    margin-top: 4px;
                                }
                                a {
                                    position: relative;
                                    top: 3px;
                                    font-size: 14px;
                                }
                            }
                        }
                        & .list-scroll {
                            max-height: 300px;
                            overflow-y: auto;
                        }
                    }
                }
            }
        }
    }
    .modal-footer {
        //text-align: center !important;
        .btn-first {
            padding: 7px 12px;    
            border-radius: 4px;
        }
    }
    .disable-anchor {
        cursor:not-allowed;
        pointer-events: none;
        opacity: 0.6
    }
}

// =========== COMMON STYLE
.modal {
    .modal-content {
        .modal-header {
            background: #2f6f98;
            color: #fff;
            padding: 10px 15px;
            border-radius: 5px 5px 0px 0px;
            h4 {
                margin-top: 0;
            }
        }
    }
}